<ion-header style="background-color: var(--ion-color-primary) !important;">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col sizeXs="12" sizeSm="10" offsetSm="1" sizeMd="8" offsetMd="2" sizeLg="6" offsetLg="3">
        <ion-toolbar mode="md" color="primary">
          <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/produk"></ion-back-button>
          </ion-buttons>
          <ion-title>Bantuan</ion-title>
        </ion-toolbar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content fullscreen="true">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col class="ion-padding" sizeXs="12" sizeSm="10" offsetSm="1" sizeMd="8" offsetMd="2" sizeLg="6" offsetLg="3">
        <ion-card style="border-radius: 1rem; padding: 0; margin: 0;" mode="ios">
          <ion-card-header>
            <ion-card-title>
              <div style="display: flex; justify-content: center; align-items: center;">
                <ion-img style="width: 25vh; height: 100%; cursor: pointer;" (click)="openUrl('https://zahrafresh.com')" src="assets/images/header-zahrafresh.png"></ion-img>
              </div>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-text style="text-align: justify;">
              <p><b>Zahra Fresh</b> berdiri semenjak tahun 2015, yang selalu menyediakan buah <code>premium</code> yang <code>segar</code>, <code>berkualitas</code> dengan harga <code>paling murah</code>. Dengan tahapan sortiran yang ketat, <b>Zahra Fresh</b> selalu <code>berkomitmen</code> menjaga <code>kesegaran</code> buah dan <code>mutunya</code> sampai ditangan anda.</p>
            </ion-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-padding">
      <ion-col class="ion-padding" sizeXs="12" sizeSm="10" offsetSm="1" sizeMd="8" offsetMd="2" sizeLg="6" offsetLg="3">
        <ion-text><h4><b>FAQ</b></h4></ion-text>
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Bagaimana cara memesan produk dari Zahra Fresh?
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <b>Cara memesan produk:</b>
                <ol>
                  <li>Pilih produk yang ingin dibeli</li>
                  <li>Klik "BELI"</li>
                  <li>Tekan (+) untuk menambah jumlah produk</li>
                  <li>Klik gambar keranjang belanja di bagian bawah layar</li>
                  <li>Pilih produk yang ingin dipesan</li>
                  <li>Pilih waktu pengiriman</li>
                  <li>Isi data pengiriman</li>
                  <li>Pastikan Produk dan Data Pengiriman sudah benar</li>
                  <li>Klik "Checkout" untuk pemesanan</li>
                </ol>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                Bagaimana cara melakukan pembayaran pesanan?
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body" style="text-align: justify">
                Setelah melakukan pemesanan atau checkout, anda dapat membayar melalui transfer bank manual lalu berikan bukti transfer kepada admin kami.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                Apa saja metode pembayaran di Zahra Fresh?
              </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body" style="text-align: justify">
                Metode pembayaran untuk saat ini hanya dapat dilakukan dengan Transfer Bank.
                <br>Berikut merupakan nomor rekening Zahra Fresh:
                <ul>
                  <li>7621339847 a\n Zahra Fresh (BCA)</li>
                  <li>7621339847 a\n Zahra Fresh (BNI)</li>
                  <li>7621339847 a\n Zahra Fresh (BRI)</li>
                  <li>7621339847 a\n Zahra Fresh (Mandiri)</li>
                </ul>

                <ion-text style="font-size: 12px;"><code>*Hati-hati penipuan! Zahra Fresh tidak memiliki nomor rekening lain selain diatas</code></ion-text>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                Apakah ada kontak pengaduan Zahra Fresh?
              </button>
            </h2>
            <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                Anda dapat datang langsung ke toko kami pada alamat berikut. <br><br>
                <b>MODERN TOWN MARKET, RT.003/RW.006, Babakan, Tangerang, Kota Tangerang, Banten 15117.</b> <br>
                <ion-text style="font-size: 12px; cursor: pointer; color: #0645AD;" (click)="openUrl('https://maps.app.goo.gl/wvcwyXCdtessGTxu5')">Buka di Google Maps</ion-text><br><br>
                Anda juga dapat memberikan keluhan anda pada kontak dibawah ini:
                <br>
                <div class="ecom-logo-container">
                  <div style="padding-right: 0.5rem">
                    <img class="ecom-logo" src="assets/images/whatsapp-logo.png" (click)="openUrl('https://www.tokopedia.com/zahrafruit')" />
                  </div>
                  <div style="margin-right: 1rem">
                    <img class="ecom-logo" src="assets/images/instagram-logo.png" (click)="openUrl('https://shopee.co.id/zahrafruitmart')" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
