<ion-header mode="md" class="ion-no-border" slot="fixed" translucent="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col sizeXs="12" sizeSm="8" offsetSm="2" sizeMd="8" offsetMd="2" sizeLg="8" offsetLg="2">
          <ion-searchbar
            color="light"
            placeholder="Belanja apa hari ini..."
            mode="md"
          ></ion-searchbar>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col sizeXs="12" sizeSm="8" offsetSm="2" sizeMd="8" offsetMd="2" sizeLg="8" offsetLg="2">
        <div class="ion-padding header-container">
          <ion-text color="primary">
            <h1 class="ion-no-margin"><b>Zahra Fresh</b></h1>
          </ion-text>

          <div style="display: flex; align-items: center;">
            <ion-button size="small" fill="clear" shape="round" routerLink="../akun"><ion-icon name="person" slot="start"></ion-icon> Login</ion-button>
          </div>
        </div>
        <!-- Image Slide -->
        <swiper #swiper [config]="config">
          <ng-template swiperSlide>
            <ion-img class="swiper-image" src="assets/images/slide1.jpg"></ion-img>
          </ng-template>
          <ng-template swiperSlide>
            <ion-img class="swiper-image" src="assets/images/slide2.jpg"></ion-img>
          </ng-template>
          <ng-template swiperSlide>
            <ion-img class="swiper-image" src="assets/images/slide3.jpg"></ion-img>
          </ng-template>
        </swiper>

        <div class="produk-container" *ngIf="produks">
          <ion-text>
            <h4 style="margin: 0; padding: 1rem 1rem 0 1rem;"><b>Produk</b></h4>
          </ion-text>
          <!-- Produk -->
          <ion-grid>
            <ion-row>
              <ion-col class="card-container" sizeXs="6" sizeSm="6" sizeMd="4" sizeLg="4" sizeXl="3" *ngFor="let produk of produks">
                <div>
                  <div (click)="openProdukDetailModal(produk.id)">
                    <div class="card-image">
                      <ion-img class="produk-image" src="{{ produk.gambar[0] }}"></ion-img>
                    </div>
                    <div class="card-detail">
                      <ion-text style="font-size: 16px;" class="max-lines-1"><b>{{ produk.nama }}</b></ion-text>
                      <ion-text style="font-size: 12px; margin-bottom: 0.5rem;" class="max-lines-2">{{ produk.deskripsi }}</ion-text>
                      <ion-text style="font-size: 14px;" color="primary"><b>Rp{{ rupiahFormat(produk.harga) }}</b></ion-text><ion-text style="font-size: 14px;">/kg</ion-text>
                    </div>
                  </div>
                  <ion-button (click)="onClick()" style="--border-radius: 0 0 1em 1em;" color="primary" shape="rectangle" expand="block">Beli</ion-button>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>


      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Floating Action Button -->
  <ion-fab style="padding: 1vw;" horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button size="small" color="primary">
      <i class="fas fa-phone-alt"></i>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="danger">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="success">
        <ion-icon name="logo-whatsapp"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="danger">
        <ion-icon name="logo-youtube"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>

