<ion-content [fullscreen]="true" *ngIf="keranjangs">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col sizeXs="12" sizeSm="10" offsetSm="1" sizeMd="8" offsetMd="2" sizeLg="6" offsetLg="3">
        <form [formGroup]="keranjangForm" *ngIf="keranjangs.length > 0">
          <div class="ion-padding-horizontal"><h2><b>Keranjang Belanja</b></h2></div>
          <!-- Waktu Pengiriman -->
          <ion-card mode="ios">
            <ion-card-header>
              <ion-card-title style="font-size: 16px;">Waktu Pengiriman</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-segment mode="md" scrollable>
                <ion-segment-button>
                  <div style="display: flex; flex-flow: column wrap; align-items: center; justify-content: center;">
                    <ion-text>Besok</ion-text>
                    <ion-text><b>14 Des</b></ion-text>
                  </div>
                </ion-segment-button>
                <ion-segment-button>
                  <div style="display: flex; flex-flow: column wrap; align-items: center; justify-content: center;">
                    <ion-text>Lusa</ion-text>
                    <ion-text><b>15 Des</b></ion-text>
                  </div>
                </ion-segment-button>
                <ion-segment-button>
                  <ion-text><b>16 Des</b></ion-text>
                </ion-segment-button>
              </ion-segment>
            </ion-card-content>
          </ion-card>

          <!-- Produk -->
          <ion-card mode="ios">
            <ion-card-header>
              <ion-card-title style="font-size: 16px;">Produk</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item lines="none" class="ion-margin-bottom">
                <ion-checkbox mode="md" color="primary" slot="start"></ion-checkbox>
                <div>
                  <ion-text style="font-size: 14px;"><b>Pilih Semua Produk</b></ion-text>
                </div>
              </ion-item>
              <ion-list lines="none">
                <ion-item *ngFor="let keranjang of keranjangs" class="ion-margin-bottom">
                  <ion-checkbox mode="md" color="primary" slot="start"></ion-checkbox>
                  <div style="display: flex; flex-flow: column wrap;">
                    <ion-text style="font-size: 14px;"><b>{{ keranjang.produk.nama }}</b></ion-text>
                    <div style="display: flex; flex-flow: row wrap;">
                      <div>
                        <ion-text class="produk-harga-final" color="primary"><b>Rp{{ rupiahFormat(keranjang.produk.harga * (100 - keranjang.produk.diskon) / 100) }}</b></ion-text><ion-text class="produk-unit">/kg</ion-text>
                      </div>
                      <div style="margin-left: 0.25rem;">
                        <ion-text *ngIf="keranjang.produk.diskon !== 0" class="produk-harga" color="medium">Rp{{ rupiahFormat(keranjang.produk.harga) }}</ion-text>
                      </div>
                    </div>
                  </div>
                  <ion-buttons slot="end" class="ion-no-margin">
                    <ion-button color="primary" size="small" (click)="kurang(keranjang.produk.id)">
                      <ion-icon name="remove" slot="icon-only"></ion-icon>
                    </ion-button>
                    <div style="margin: 0 0.5rem;">
                      <ion-text style="font-size: 14px;"><b>{{ keranjang.jumlah }}</b></ion-text>
                    </div>
                    <ion-button color="primary" size="small" (click)="tambah(keranjang.produk.id)">
                      <ion-icon name="add" slot="icon-only"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                </ion-item>
              </ion-list>
              <hr>
              <div class="ion-padding" style="display: flex; flex-flow: row wrap; justify-content: space-between;">
                <ion-text color="primary" style="font-size: 14px;"><b>Total Belanja</b></ion-text>
                <ion-text color="dark" style="font-size: 16px;"><b>{{ getTotalHargaKeranjang() }}</b></ion-text>
              </div>
            </ion-card-content>
          </ion-card>

          <!-- Informasi Pembeli -->
          <ion-card mode="ios">
            <ion-card-header>
              <ion-card-title style="font-size: 16px;">Informasi Pembeli</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list mode="md">
                <ion-item>
                  <ion-label position="floating">Nama Pembeli</ion-label>
                  <ion-input type="text" formControlName="namaPembeli" placeholder="Nama Pembeli"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Nomor Pembeli</ion-label>
                  <ion-input type="number" formControlName="nomorPembeli" placeholder="Nomor Pembeli"></ion-input>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>

          <!-- Alamat Pengiriman -->
          <ion-card mode="ios">
            <ion-card-header>
              <ion-card-title style="font-size: 16px;">Alamat Pengiriman</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list mode="md">
                <ion-item>
                  <ion-label>Kota/Kabupaten</ion-label>
                  <ion-select interface="action-sheet">
                    <ion-select-option value="nes">NES</ion-select-option>
                    <ion-select-option value="n64">Nintendo64</ion-select-option>
                    <ion-select-option value="ps">PlayStation</ion-select-option>
                    <ion-select-option value="genesis">Sega Genesis</ion-select-option>
                    <ion-select-option value="saturn">Sega Saturn</ion-select-option>
                    <ion-select-option value="snes">SNES</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-label>Kecamatan</ion-label>
                  <ion-select interface="action-sheet">
                    <ion-select-option value="nes">NES</ion-select-option>
                    <ion-select-option value="n64">Nintendo64</ion-select-option>
                    <ion-select-option value="ps">PlayStation</ion-select-option>
                    <ion-select-option value="genesis">Sega Genesis</ion-select-option>
                    <ion-select-option value="saturn">Sega Saturn</ion-select-option>
                    <ion-select-option value="snes">SNES</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-label>Kelurahan</ion-label>
                  <ion-select interface="action-sheet">
                    <ion-select-option value="nes">NES</ion-select-option>
                    <ion-select-option value="n64">Nintendo64</ion-select-option>
                    <ion-select-option value="ps">PlayStation</ion-select-option>
                    <ion-select-option value="genesis">Sega Genesis</ion-select-option>
                    <ion-select-option value="saturn">Sega Saturn</ion-select-option>
                    <ion-select-option value="snes">SNES</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Nama Jalan</ion-label>
                  <ion-textarea placeholder="Nama Jalan"></ion-textarea>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Nama Penerima</ion-label>
                  <ion-input type="text" formControlName="namaPenerima" placeholder="Nama Penerima"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Nomor Penerima</ion-label>
                  <ion-input type="number" formControlName="nomorPenerima" placeholder="Nomor Penerima"></ion-input>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
          <ion-button class="ion-margin" type="submit" color="primary" expand="block" shape="round" (click)="presentAlertConfirm()">Checkout <ion-icon name="logo-whatsapp" slot="end"></ion-icon></ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="centered" *ngIf="keranjangs.length <= 0">
    <div>
      <ion-img style="width: 30vh; height: 100%;" src="assets/unDraw/empty_cart.svg"></ion-img>
    </div>
    <div class="ion-text-center ion-margin-top">
      <ion-text color="primary">
        <p><b>Oops keranjang kamu masih kosong...</b></p>
      </ion-text>
    </div>
  </div>
</ion-content>
