<ion-header style="background-color: var(--ion-color-primary) !important;">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col sizeXs="12" sizeSm="10" offsetSm="1" sizeMd="8" offsetMd="2" sizeLg="6" offsetLg="3">
        <ion-toolbar mode="md" color="primary">
          <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/produk"></ion-back-button>
          </ion-buttons>
          <ion-title>Keranjang Belanja</ion-title>
        </ion-toolbar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col sizeXs="12" sizeSm="10" offsetSm="1" sizeMd="8" offsetMd="2" sizeLg="6" offsetLg="3">
        <form [formGroup]="keranjangForm">
          <!-- Produk -->
          <ion-card mode="ios">
            <ion-card-header style="display: flex; flex-flow: row wrap; justify-content: space-between; align-items: center;">
              <ion-card-title style="font-size: 16px;">Produk</ion-card-title>
              <ion-buttons *ngIf="keranjangs?.length > 0">
                <ion-button color="danger" size="small" (click)="presentAlertConfirm('Semua produk yang dipilih akan dihapus.', 'delete')"><ion-icon name="trash-outline" slot="icon-only"></ion-icon></ion-button>
              </ion-buttons>
            </ion-card-header>
            <ion-card-content *ngIf="keranjangs?.length > 0">
              <ion-item lines="none" class="ion-margin-bottom" (click)="onClickAllCheckBox()">
                <ion-checkbox #allCheckBox mode="md" color="primary" slot="start" [checked]="isAllChecked()"></ion-checkbox>
                <div>
                  <ion-text style="font-size: 14px;"><b>Pilih Semua Produk</b></ion-text>
                </div>
              </ion-item>
              <ion-list lines="none">
                <ion-item *ngFor="let keranjang of keranjangs" class="ion-margin-bottom">
                  <ion-checkbox mode="md" color="primary" slot="start" (ionChange)="onChangeCheckBox(keranjang.produk.id)" [checked]="keranjang.isChecked"></ion-checkbox>
                  <div style="display: flex; flex-flow: column wrap;">
                    <ion-text style="font-size: 14px;"><b>{{ keranjang.produk.nama }}</b></ion-text>
                    <div style="display: flex; flex-flow: row wrap;">
                      <div>
                        <ion-text class="produk-harga-final" color="primary"><b>Rp{{ rupiahFormat(keranjang.produk.harga * (100 - keranjang.produk.diskon) / 100) }}</b></ion-text><ion-text class="produk-unit">/kg</ion-text>
                      </div>
                      <div style="margin-left: 0.25rem;">
                        <ion-text *ngIf="keranjang.produk.diskon !== 0" class="produk-harga" color="medium">Rp{{ rupiahFormat(keranjang.produk.harga) }}</ion-text>
                      </div>
                    </div>
                  </div>
                  <ion-buttons slot="end" class="ion-no-margin">
                    <ion-button color="primary" size="small" (click)="kurang(keranjang.produk.id)">
                      <ion-icon name="remove" slot="icon-only"></ion-icon>
                    </ion-button>
                    <div style="margin: 0 0.5rem;">
                      <ion-text style="font-size: 14px;"><b>{{ keranjang.jumlah }}</b></ion-text>
                    </div>
                    <ion-button color="primary" size="small" (click)="tambah(keranjang.produk.id)">
                      <ion-icon name="add" slot="icon-only"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                </ion-item>
              </ion-list>
              <hr>
              <div class="ion-padding" style="display: flex; flex-flow: row wrap; justify-content: space-between;">
                <ion-text color="primary" style="font-size: 14px;"><b>Total Belanja</b></ion-text>
                <div>
                  <ion-text *ngIf="getTotalHarga('isHaveDiskon')" class="produk-harga" color="medium" style="margin-right: 0.25rem">Rp{{ rupiahFormat(getTotalHarga('asli')) }}</ion-text>
                  <ion-text color="dark" style="font-size: 16px;">Rp<b>{{ rupiahFormat(getTotalHarga('diskon')) }}</b></ion-text>
                </div>
              </div>
            </ion-card-content>
            <ion-card-content *ngIf="keranjangs?.length < 1">
              <div style="display: flex; flex-flow: column wrap; justify-content: center; align-items: center;">
                <ion-text><h4>Wah, keranjang belanjamu kosong</h4></ion-text>
                <ion-text color="medium"><p>Yuk, belanja dulu</p></ion-text>
                <ion-button size="small" shape="round" routerLink="../produk">Mulai Belanja <ion-icon name="cart-outline" slot="start"></ion-icon></ion-button>
              </div>
            </ion-card-content>
          </ion-card>

          <!-- Waktu Pengiriman -->
          <ion-card mode="ios">
            <ion-card-header>
              <ion-card-title style="font-size: 16px;">Waktu Pengiriman</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-segment mode="md" scrollable>
                <ion-segment-button [value]="dateOption1">
                  <div style="display: flex; flex-flow: column wrap; align-items: center; justify-content: center;">
                    <ion-text>Besok</ion-text>
                    <ion-text><b>{{ tanggalFormat(dateOption1) }}</b></ion-text>
                  </div>
                </ion-segment-button>
                <ion-segment-button [value]="dateOption2">
                  <div style="display: flex; flex-flow: column wrap; align-items: center; justify-content: center;">
                    <ion-text>Lusa</ion-text>
                    <ion-text><b>{{ tanggalFormat(dateOption2) }}</b></ion-text>
                  </div>
                </ion-segment-button>
                <ion-segment-button [value]="dateOption3">
                  <ion-text>Tulat</ion-text>
                  <ion-text><b>{{ tanggalFormat(dateOption3) }}</b></ion-text>
                </ion-segment-button>
              </ion-segment>
            </ion-card-content>
          </ion-card>



          <!-- Informasi Pembeli -->
          <ion-card mode="ios">
            <ion-card-header>
              <ion-card-title style="font-size: 16px;">Informasi Pembeli</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list mode="md">
                <ion-item>
                  <ion-label position="floating">Nama Pembeli</ion-label>
                  <ion-input type="text" formControlName="namaPembeli" placeholder="Nama Pembeli"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Nomor Pembeli</ion-label>
                  <ion-input type="number" formControlName="nomorPembeli" placeholder="Nomor Pembeli"></ion-input>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>

          <!-- Alamat Pengiriman -->
          <ion-card mode="ios">
            <ion-card-header>
              <ion-card-title style="font-size: 16px;">Alamat Pengiriman</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list mode="md">
                <ion-item>
                  <ion-label>Provinsi</ion-label>
                  <ion-select interface="alert" (ionChange)="getKabupaten($event)">
                    <ion-select-option *ngFor="let provinsi of provinsis" value="{{ provinsi.id }}">{{ provinsi.name }}</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-label>Kota/Kabupaten</ion-label>
                  <ion-select interface="alert" [disabled]="kabupatens.length < 1" (ionChange)="getKecamatan($event)">
                    <ion-select-option *ngFor="let kabupaten of kabupatens" value="{{ kabupaten.id }}">{{ kabupaten.name }}</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-label>Kecamatan</ion-label>
                  <ion-select interface="alert" [disabled]="kecamatans.length < 1" (ionChange)="getKelurahan($event)">
                    <ion-select-option *ngFor="let kecamatan of kecamatans" value="{{ kecamatan.id }}">{{ kecamatan.name }}</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-label>Kelurahan</ion-label>
                  <ion-select interface="alert" [disabled]="kelurahans.length < 1">
                    <ion-select-option *ngFor="let kelurahan of kelurahans" value="{{ kelurahan.id }}">{{ kelurahan.name }}</ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Nama Jalan</ion-label>
                  <ion-textarea placeholder="Nama Jalan"></ion-textarea>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Nama Penerima</ion-label>
                  <ion-input type="text" formControlName="namaPenerima" placeholder="Nama Penerima"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Nomor Penerima</ion-label>
                  <ion-input type="number" formControlName="nomorPenerima" placeholder="Nomor Penerima"></ion-input>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
          <ion-button class="ion-margin" type="submit" color="primary" expand="block" shape="round" (click)="presentAlertConfirm('Pastikan pesanan dan data pengiriman sudah benar', 'checkout')">Checkout <ion-icon name="logo-whatsapp" slot="end"></ion-icon></ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
