ion-grid ion-row ion-col {
  height: 100%;
}

ion-card {
  border-bottom: 5px solid var(--ion-color-primary);
}

.segment-button-checked {
  background: rgba(42, 96, 73, 0.1);
  color: var(--ion-color-primary);
}

.input-container {
  border-radius: 2em;
  background-color: var(--ion-color-light);
  padding: 0.1em 0.75em;
  margin-top: 0.5em;
}

.confirm-alert .alert-wrapper {
  border-radius: 1rem !important;
}

.produk-harga {
  font-size: 0.75rem;
  text-decoration: line-through;
}

.produk-diskon-tag {
  font-size: 0.75rem;
  background-color: var(--ion-color-danger);
  border-radius: 0.25rem;
  padding: 0.1rem 0.15rem;
  margin-left: 0.25rem;
}

.produk-harga-final {
  font-size: 0.875rem;
}

.produk-unit {
  font-size: 0.75rem;
}
.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
