<ion-tabs>
  <ion-tab-bar slot="bottom" class="ion-no-border">
    <ion-tab-button tab="produk">
      <ion-icon name="home" mode="md"></ion-icon>
      Produk
    </ion-tab-button>
    <ion-tab-button tab="keranjang">
      <ion-icon name="cart" mode="md"></ion-icon>
      Keranjang
    </ion-tab-button>
    <ion-tab-button tab="bantuan">
      <ion-icon name="help-circle" mode="md"></ion-icon>
      Bantuan
    </ion-tab-button>
    <ion-tab-button tab="akun">
      <ion-icon name="person" mode="md"></ion-icon>
      Akun
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
