<ion-tabs>
  <ion-tab-bar mode="md" slot="bottom" style="box-shadow: 0 0 10px rgb(0 0 0 / 12%);">
    <ion-tab-button tab="produk">
      <i class="fas fa-home" style="font-size: 18px"></i>
      Produk
    </ion-tab-button>
    <ion-tab-button tab="keranjang">
      <i class="fas fa-shopping-cart" style="font-size: 18px"></i>
      Keranjang
    </ion-tab-button>
    <ion-tab-button tab="bantuan">
      <i class="fas fa-question-circle" style="font-size: 18px"></i>
      Bantuan
    </ion-tab-button>
    <ion-tab-button tab="akun">
      <i class="fas fa-user" style="font-size: 18px"></i>
      Akun
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
