ion-content {
  // overwrite inline styles
  --offset-bottom: auto !important;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

swiper {
  border-radius: 1rem;
}
.swiper-image {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 16/9;
}
