<ion-header style="background-color: var(--ion-color-primary) !important;">
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col sizeXs="12" sizeSm="10" offsetSm="1" sizeMd="8" offsetMd="2" sizeLg="6" offsetLg="3">
        <ion-toolbar mode="md" color="primary">
          <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/produk"></ion-back-button>
          </ion-buttons>
          <ion-title>{{ produk?.nama }}</ion-title>
          <ion-buttons slot="end">
            <ion-button shape="round" (click)="copyLink()">
              <i class="far fa-copy" style="font-size: 24px;"></i>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content class="ion-padding" fullscreen="true">

  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col sizeXs="12" sizeSm="10" offsetSm="1" sizeMd="8" offsetMd="2" sizeLg="6" offsetLg="3">
        <!-- Image Slide -->
        <swiper #swiper [config]="config">
          <ng-template swiperSlide *ngFor="let gambar of produk?.gambar">
            <ion-img class="swiper-image" src="{{ gambar }}"></ion-img>
          </ng-template>
        </swiper>

        <div class="ion-padding-vertical">
          <ion-text style="font-size: 18px;">
            <b>{{ produk?.nama }}</b>
          </ion-text>

          <ion-text style="font-size: 16px;">
            <p>{{ produk?.deskripsi }}</p>
          </ion-text>

          <div style="display: flex; flex-flow: row wrap; justify-content: space-between; align-items: center;">
            <div>
              <ion-text style="font-size: 18px;" color="primary"><b>Rp{{ rupiahFormat(produk?.harga) }}</b></ion-text><ion-text style="font-size: 14px;">/kg</ion-text>
            </div>
            <div style="width: 130px;">
              <ion-button *ngIf="true" expand="block" color="primary" shape="round">Beli</ion-button>
              <ion-buttons *ngIf="false" slot="end" class="ion-no-margin">
                <ion-button color="primary" size="small">
                  <ion-icon name="remove" slot="icon-only"></ion-icon>
                </ion-button>
                <div style="margin: 0 0.5rem;">
                  <ion-text style="font-size: 14px;"><b>1</b></ion-text>
                </div>
                <ion-button color="primary" size="small">
                  <ion-icon name="add" slot="icon-only"></ion-icon>
                </ion-button>
              </ion-buttons>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

